.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: var(--background-primary);
  border-bottom: 1px solid var(--border-color);
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.navLinks {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navLinks a {
  color: var(--text-secondary);
  font-weight: 500;
  transition: color 0.2s;
}

.navLinks a:hover,
.navLinks a.active {
  color: var(--accent-color);
}

.authButtons {
  display: flex;
  gap: 15px;
}

.signIn {
  background: none;
  border: none;
  color: var(--text-primary);
  font-size: 16px;
  cursor: pointer;
  text-align: start;
}

.createAccount {
  background-color: var(--accent-color);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.welcome {
  color: var(--text-secondary);
  font-weight: 500;
}

.authContainer {
  display: flex;
  align-items: center;
  gap: 25px;
}

.themeToggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 5px;
  line-height: 1;
}

@media (max-width: 900px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
  }

  .navLinks {
    gap: 15px;
    padding: 10px 0;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    width: 100%;
    justify-content: center;
  }

  .authContainer {
    width: 100%;
    justify-content: center;
  }
}
